<div class="footer">
  <div class="footer-links">
    <a href="https://www.facebook.com/santerrecup/?ref=bookmarks" target="_blank"><i class="fab fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Ce site internet est réalisé avec <i class="fas fa-heart"></i> par le Staff
  </div>
</div>
