<p><%= @profile.user.name %>,</p>
<p>Ta demande a été acceptée par le Staff. Félicitations à toi, nous sommes ravis que tu nous rejoignes pour ce bel événement. On compte sur toi pour mettre le feu en tribune !</p>
<p>Pour valider définitivement ton inscription, il faut maintenant que tu paies ta place sur la plateforme de notre partenaire Lydia. Le lien est également disponible dans l'onglet "Mon inscription" de ton compte sur notre site internet : <%= link_to "Je valide mon inscription", mon_inscription_profile_url(@profile), class: 'btn btn-primary' %>.</p>
<p>Nous te remercions pour ta confiance, et on se voit le Samedi 29 Juin. Inch'allah il y aura du soleil.</p>
<p>Bien amicalement,</p>
<p>Le Staff</p>
