<p><%= @profile.user.name %>,</p>
<p>Nous sommes désolé, mais ta demande a été refusée par le Staff.</p>
<p>Nous privilégions en effet les places pour les joueurs. Nous ne manquerons pas de revenir vers toi si jamais des places se libèrent.</p>
<p>Nous te remercions de ta confiance.</p>
<p>Bien amicalement,</p>
<p>Le Staff</p>
