<div class="wrapper-home-navbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7 d-none d-lg-block">
        <!-- <img src="https://s3.eu-west-3.amazonaws.com/santerrecup/homepage.jpg" alt="Page d'accueil"> -->
        <%= image_tag "homepage", class: "photo-card" %>
      </div>
      <div class="col-md">
        <!-- <img src="https://s3.eu-west-3.amazonaws.com/santerrecup/logo.jpg" alt="Logo" class=".d-none .d-sm-block .d-lg-none img""> -->
        <%= image_tag "logo", class: ".d-none .d-sm-block .d-lg-none img" %>
        <br>
        <h1>VISONS PLUS QU'UNE VICTOIRE</h1>
        <br>
        <h3>IVème édition</h3>
        <h3>29 Juin 2019</h3>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-gray-home">
  <div class="container">
    <div class="row">
      <h2>La Santerre Cup en quelques mots</h2>
      <p>La Santerre Cup est un tournoi de football qui rassemble le temps d’une journée et d’une soirée 500 jeunes autour de projets solidaires ! Sur la journée se déroule deux tournois de foot, un tournoi masculin et un autre féminin. À la fin de ceux-ci, joueuses et joueurs se retrouvent autour d’un repas convivial avant de prolonger le plaisir avec la soirée de clôture.</p>
      <p>Cependant, la Santerre Cup, c’est bien plus qu’un tournoi de foot. Association loi de 1901 depuis 2017, tous les bénéfices réalisés lors de chaque édition sont reversés à des associations caritatives. Lors de notre précédente édition en 2017, plus de 6000€ ont été reversés à nos 3 associations partenaires. Pour cette nouvelle édition, nous ne comptons pas nous arrêter en si bon chemin et sommes toujours à la recherche de nouveaux sponsors. Si vous voulez participez à notre beau projet, rendez-vous sur cette <%= link_to 'page', nous_soutenir_path %>. </p>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <h1>Notre vision</h1>
          <p>Le sport est vecteur d’émotions, de valeurs et d’actions positives et universelles.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <h1>Notre mission</h1>
          <p>Organiser un événement sportif et solidaire au sein de notre Picardie natale.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <h1>Notre ambition</h1>
          <p>Devenir une référence des événements sportifs, jeunes et solidaires.</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card">
          <h1>Nos valeurs</h1>
          <p>Partage, dépassement de soi, esprit d’équipe, solidarité, respect et engagement.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-white-home">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Découvrez la vidéo de la 3ème édition</h2>
        <iframe class="video-center" width="560" height="315" src="https://www.youtube.com/embed/Vwjcs30fjVA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
<div class="wrapper-gray-home">
  <div class="container">
    <div class="row">
      <div class="col-md col-lg-8 offset-lg-2">
        <div class="contact-card">
          <h2>Envie de nous envoyer un petit mot doux ?</h2>
          <p>Nous serions ravi d’échanger avec vous. Plusieurs options : vous pouvez nous envoyer un petit mot doux à santerrefc@outlook.fr, sur notre page Facebook ou alors à travers <%= link_to 'ce formulaire', nous_contacter_path %> ! Nous tâcherons de vous répondre le plus rapidement possible.</p>
        </div>
      </div>
    </div>
  </div>
</div>
