<div class="wrapper-white-navbar">
  <div class="container-fluid">
    <div class="row">
      <h1>L’équipe-type pour la saison 2019/2020</h1>
      <p>Pour les uns, le sport est une passion depuis toujours et se pratique en compétition. Pour les autres, c’est un loisir hebdomadaire indispensable. Il y a aussi ceux pour qui c’est un moyen de se réunir. L’équipe de la Santerre Cup, c’est tout cela.</p>
      <p>Mais c’est aussi la certitude que quelle que soit sa pratique, le sport change les vies. L’équipe est également certaine que chacun doit agir positivement pour que le monde de demain soit meilleur. Pour chaque membre, la Santerre Cup est alors un bon moyen de faire passer ce message et de fédérer les jeunes autour de la solidarité.</p>
      <p style="margin: 0px auto 30px;">Enfin, nous sommes amis dans la vie, mais nos parcours sont diversifiés. C’est ce qui fait de nous une équipe soudée et complémentaire.</p>
      <%= image_tag "equipe.png", class: "photo-card-equipe" %>
    </div>
  </div>
</div>
