<div class="wrapper-white-navbar">
  <div class="container-fluid">
    <h1>Vous souhaitez nous aider ? Vous êtes sur la bonne page</h1>
      <div class="row little-space">
        <div class="col-lg-6">
          <p>La Santerre Cup ne serait pas ce qu’elle est actuellement sans la générosité et la bienveillance de ses nombreux sponsors. C’est avec vos dons que nous pouvons proposer une prestation haut de gamme à un prix raisonnable tout en redistribuant tous nos bénéfices à des associations caritatives. Grâce à vous, le sport permet de rassembler le temps d’une journée près de 500 jeunes dans une ambiance festive et conviviale, tout en ayant un impact positif et solidaire.</p>
          <p>Et parce qu’il n’y a pas de petits dons, chaque participation, qu’elle soit matérielle ou financière, nous sera d’une grande aide et nous vous en remercions d’avance profondément.</p>
        </div>
        <div class="col-md d-none d-lg-block">
          <%= image_tag "photo11.JPG", class: "photo-card" %>
        </div>
      </div>
    <p><mark>La Santerre Cup est une association loi de 1901 depuis 2017</mark>. Si vous êtes un particulier, vous profitez d’une réduction d’impôt de 66% des sommes que vous nous versez, dans la limite de 20% de votre revenu imposable. Ainsi, un don de 100€ à notre association ne vous coûtera après déduction d’impôts que 44€. Si vous êtes une entreprise, la réduction fiscale est de 60% dans la limite de 5/1000 de votre chiffre d’affaires annuel.</p>
  </div>
</div>
<div class="wrapper-gray">
  <div class="container-fluid">
    <h3>Nos différents plans de sponsoring</h1>
      <div class="row">
        <div class="col-md">
          <h4>Bronze<p>Dons inférieurs à 500€</p></h4>
          <p>Accès gratuit à l'événement</p>
          <p>Présence sur la bâche des sponsors</p>
          <p>Présence sur le site internet et la plaquette de l'association</p>
        </div>
        <div class="col-md">
          <h4>Argent<p>Dons compris entre 500€ et 1000€ exclus</p></h4>
          <p>+ Présentation de votre entreprise/activité sur l'événement Facebook (+800 invités)</p>
          <p>+ Mise en avant de votre logo sur notre bâche des sponsors et notre site internet</p>
          <p>+ Possibilité de présence de panneaux publicitaires le jour de l'événement</p>
        </div>
        <div class="col-md">
          <h4>Or <p>Dons supérieurs à 1000€</p></h4>
          <p>+ un des 8 terrains au nom de votre entreprise</p>
          <p>+ un paragraphe de présentation de votre entreprise sur notre page Facebook et notre site internet en tant que partenaire privilégié</p>
          <p>+ mise en place d'une promotion spéciale le jour de l'événement (dans la limite du possible)</p>
        </div>
      </div>
      <div class="align-buttons">
        <%= link_to "Je veux donner !", sponsor_path, class: 'btn btn-primary' %>
      </div>
  </div>
</div>
<div class="wrapper-white-navbar">
  <div class="container-fluid">
    <div class="row">
      <h3>Au soutien de le IIIème édition</h3>
      <p>Cette IIIème édition et les dons aux associations n’auraient pas été possibles sans la fidèle participation des joueurs et les dons de nos généreux partenaires ! Toute l’équipe de la Santerre Cup remercie infiniment :</p>
      <div class="col-md">
        <ul class="sponsor-card">
          <li>Agrisanterre</li>
          <li>AGTIV</li>
          <li>Pascal Ammeux</li>
          <li>Artois MotoCulture</li>
          <li>Nicolas Boisleux</li>
          <li>Boutté</li>
          <li>Bruno & Olivier Peugniez</li>
          <li>Yves Carpentier</li>
          <li>La CASA</li>
          <li>CER France</li>
          <li>Consille TP</li>
          <li>Les Garages François Debflex</li>
          <li>Anne-Catherine Decarne</li>
          <li>Decathlon Amiens</li>
          <li>Antoine Deffontaines</li>
        </ul>
      </div>
      <div class="col-md">
        <ul class="sponsor-card">
          <li>Le Domaine du Val</li>
          <li>SARL Douvillé</li>
          <li>SARL Duminiel Ghewy</li>
          <li>Arnaud Dupuy</li>
          <li>EDIM</li>
          <li>Florimond Desprès</li>
          <li>Germicopa</li>
          <li>LMA</li>
          <li>Mention & Co</li>
          <li>Noriap</li>
          <li>Thierry Peugniez</li>
          <li>Pomly</li>
          <li>Pumpkin</li>
          <li>Guy-Marie Sokalski</li>
          <li>Cédric & Jean-François Tavernier</li>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

