<div class="wrapper-gray-home">
  <div class="container">
    <div class="row">
      <div class="col-md col-lg-8 offset-lg-2">
        <div class="contact-card">
          <h2>Envie de nous envoyer un petit mot doux ?</h2>
          <p>Nous serions ravis d’échanger avec vous. Plusieurs options : vous pouvez nous envoyer votre message à staff@santerre.com, sur notre page Facebook ou alors à travers ce formulaire ! Nous tâcherons de vous répondre le plus rapidement possible.</p>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

