<div class="wrapper-gray-home">
  <div class="container">
    <div class="row">
      <div class="col-md col-lg-8 offset-lg-2">
        <div class="contact-card">
          <h2>Merci de vouloir nous aider !</h2>
          <p>Nous serions ravi d’échanger avec vous à propos de votre sponsoring et des actions à mettre en place ensemble. Pour nous contacter, plusieurs options disponibles : par mail à staff@santerre.com, par téléphone au +33.6.71.95.66.02 ou alors à travers ce formulaire. N'oubliez pas de bien préciser vos coordonnées afin que l'on puisse vous recontacter le plus rapidement et simplement possible.</p>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>

