<p><%= @team.user.name %>,</p>

<p>Malheureusement, ton équipe <%= @team.name %> n'a pas été acceptée. Nous avons eu énormément de demandes. Nous en sommes désolés.</p>

<p>Si tu veux participer malgré tout à l'événement, tu peux soit essayer de rejoindre une équipe, soit t'inscrire en tant que spectateur. Merci de relayer cette information à tes coéquipiers.</p>

<p>On espère quand même te voir à l'événement !</p>

<p>La bise</p>

<p>Le Staff</p>
