<p>Cher <%= @team.user.name %>,<p>

<p>Nous vous confirmons que votre équipe <%= @team.name %> a bien été acceptée par le Staff. Tes potes peuvent désormais s'inscrire dessus et demander à la rejoindre. Tu devras les accepter depuis ton compte Santerre Cup.</p>

<p>Pour gérer les demandes, <%= link_to "c'est ici.", team_url(@team) %></p>

<p>La bise</p>

<p>Le Staff</p>
