.photo-card {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 100%;
}

.photo-card-small {
  background-size: cover !important;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 50%;
}

.photo-card-equipe {
  height: 40%;
  width: 60%;
  border-radius: 10px;
  margin: 0px auto;
}
